Python_MATLAB_Codes/saved_models/*
Raw_Data/*
PyTorch_Deconv_v1.zip
Python_PSF/generated_psfs/*

**/__pycache__/

.vscode/
.idea/

.venv/
venv/
env/

.DS_Store

Fiji_Plugin/result

PyTorch_Deconv/Data/Output/
PyTorch_Deconv/Data/InferenceInput/
PyTorch_Deconv/Data/InferenceResult/
PyTorch_Deconv/Data/PSF/
PyTorch_Deconv/Data/Train/

PyTorch_Deconv/experiments/*/

PyTorch_Deconv/Data/063025/

Python_PSF/PSFoutput
Python_PSF/PSFtest